@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif; }

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  max-width: 100%; }

.banner .banner__principal .banner__principal__titulo .banner__principal__botones .banner__botones_box .banner__principal__botones--primary, .publicidad .publicidad_titulo .publicidad__titulo__pricipal .publicidad__principal__botones .publicidad__principal__botones--primary, .accesibilidad .accesibilidad__content .accesibilidad__content__primary .accesibilidad__content__primary--titulo .accesibilidad__botones_primary--boton, .nosotros__general .nosotros__principal .nosotros__secundario_titulo .nosotros__secundario--btn, .servicios .servicios__content .servicios__box .servicios__col .servicios__sociales .servicios__icons .servicios__boton--primary {
  display: block;
  text-decoration: none;
  background: #002858;
  top: 10px;
  padding: 15px 15px;
  text-align: center;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  transition: all 300ms;
  border: none;
  width: 250px; }

.banner .banner__principal .banner__principal__titulo .banner__principal__botones .banner__botones_box .banner__principal__botones--primary:hover, .publicidad .publicidad_titulo .publicidad__titulo__pricipal .publicidad__principal__botones .publicidad__principal__botones--primary:hover, .accesibilidad .accesibilidad__content .accesibilidad__content__primary .accesibilidad__content__primary--titulo .accesibilidad__botones_primary--boton:hover, .nosotros__general .nosotros__principal .nosotros__secundario_titulo .nosotros__secundario--btn:hover, .servicios .servicios__content .servicios__box .servicios__col .servicios__sociales .servicios__icons .servicios__boton--primary:hover {
  color: #ffffff;
  transform: translateY(10px);
  background-color: #d17502;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

.header {
  position: absolute;
  z-index: 10;
  width: 100%; }
  .header .navbar {
    padding: 10px 0;
    background: #d17502 !important; }
    .header .navbar .logo {
      width: 150px; }
    .header .navbar .nav-item a {
      font-weight: 500;
      font-size: 1.4rem;
      color: white !important; }
    .header .navbar .nav-item {
      margin: 0 5px; }
      .header .navbar .nav-item:hover {
        background-color: #002858;
        color: white; }
      .header .navbar .nav-item .active {
        background-color: #002858;
        padding: 5px 15px; }
    .header .navbar .navbar-toggler {
      border: none;
      color: white;
      border: 2px solid white;
      border-radius: 0;
      outline: none; }

.banner {
  position: relative;
  background-image: url("../img/bg-2.jpg");
  min-height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .banner .banner__sociales .banner__sociales__iconos .banner__sociales__iconos--images img {
    width: 30px;
    padding: 10px 0;
    margin-left: -100px;
    margin-top: 30px; }
    .banner .banner__sociales .banner__sociales__iconos .banner__sociales__iconos--images img:hover {
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      transform: scale(1.3);
      transition: all .5s; }
  .banner .banner__principal .banner__principal__titulo h1 {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin-top: 100px;
    font-size: 5rem;
    text-align: center;
    font-style: italic; }
  .banner .banner__principal .banner__principal__titulo span {
    color: #d17502;
    font-weight: 800; }
  .banner .banner__principal .banner__principal__titulo img {
    height: 7px;
    margin-top: 27px; }
  .banner .banner__principal .banner__principal__titulo .banner__principal__parrafo p {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin-top: 30px;
    font-size: 2rem;
    text-align: center;
    font-style: italic; }
  .banner .scroll {
    width: 30px;
    margin-top: 100px; }

.publicidad {
  width: 100%;
  background-color: #01010f;
  min-height: 100px; }
  .publicidad .publicidad_titulo .publicidad__titulo__pricipal .publicidad__titulo__principal--text {
    margin-top: 70px; }
    .publicidad .publicidad_titulo .publicidad__titulo__pricipal .publicidad__titulo__principal--text h2 {
      color: #fff;
      font-weight: 600;
      font-family: "Montserrat", sans-serif;
      font-style: italic;
      text-align: center;
      font-size: 4rem; }
      .publicidad .publicidad_titulo .publicidad__titulo__pricipal .publicidad__titulo__principal--text h2 span {
        color: #d17502;
        font-weight: 800; }
    .publicidad .publicidad_titulo .publicidad__titulo__pricipal .publicidad__titulo__principal--text .parrafo-1 {
      margin-top: 30px; }
    .publicidad .publicidad_titulo .publicidad__titulo__pricipal .publicidad__titulo__principal--text p {
      color: white;
      font-weight: 300;
      font-family: "Roboto", sans-serif;
      font-size: 2rem; }
  .publicidad .publicidad__principal .publicidad__principal__rounders {
    margin-top: 70px; }
    .publicidad .publicidad__principal .publicidad__principal__rounders .publicidad__principal__rounders--medida {
      background-image: url("../img/circulo-1.png");
      min-height: 400px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      padding: 60px 40px;
      text-align: center;
      width: 380px; }
      .publicidad .publicidad__principal .publicidad__principal__rounders .publicidad__principal__rounders--medida:hover {
        transform: translateY(-10px);
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease; }
      .publicidad .publicidad__principal .publicidad__principal__rounders .publicidad__principal__rounders--medida h3 {
        color: #d17502;
        font-weight: 600;
        font-style: italic;
        font-size: 3.2rem;
        font-family: "Roboto", sans-serif; }
      .publicidad .publicidad__principal .publicidad__principal__rounders .publicidad__principal__rounders--medida h4 {
        color: white;
        font-weight: 600;
        font-style: italic;
        font-size: 2.5rem;
        font-family: "Roboto", sans-serif; }
      .publicidad .publicidad__principal .publicidad__principal__rounders .publicidad__principal__rounders--medida p {
        color: white;
        font-weight: 300;
        font-family: "Roboto", sans-serif;
        font-style: italic;
        font-size: 1.3rem;
        margin-top: 15px; }
      .publicidad .publicidad__principal .publicidad__principal__rounders .publicidad__principal__rounders--medida img {
        height: 7px;
        width: 200px;
        margin-top: 10px; }
    .publicidad .publicidad__principal .publicidad__principal__rounders .publicidad__principal__rounders--diseño {
      background-image: url("../img/circulo-1.png");
      min-height: 400px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      padding: 60px 40px;
      text-align: center;
      width: 380px; }
      .publicidad .publicidad__principal .publicidad__principal__rounders .publicidad__principal__rounders--diseño:hover {
        transform: translateY(-10px);
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease; }
      .publicidad .publicidad__principal .publicidad__principal__rounders .publicidad__principal__rounders--diseño h3 {
        color: #d17502;
        font-weight: 600;
        font-style: italic;
        font-size: 3.2rem;
        font-family: "Roboto", sans-serif; }
      .publicidad .publicidad__principal .publicidad__principal__rounders .publicidad__principal__rounders--diseño h4 {
        color: white;
        font-weight: 600;
        font-style: italic;
        font-size: 2.5rem;
        font-family: "Roboto", sans-serif; }
      .publicidad .publicidad__principal .publicidad__principal__rounders .publicidad__principal__rounders--diseño p {
        color: white;
        font-weight: 300;
        font-family: "Roboto", sans-serif;
        font-style: italic;
        font-size: 1.3rem;
        margin-top: 15px; }
      .publicidad .publicidad__principal .publicidad__principal__rounders .publicidad__principal__rounders--diseño img {
        height: 7px;
        width: 200px;
        margin-top: 10px; }
    .publicidad .publicidad__principal .publicidad__principal__rounders .publicidad__principal__rounders--seo {
      background-image: url("../img/circulo-3.png");
      min-height: 400px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      padding: 60px 40px;
      text-align: center;
      width: 380px; }
      .publicidad .publicidad__principal .publicidad__principal__rounders .publicidad__principal__rounders--seo:hover {
        transform: translateY(-10px);
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease; }
      .publicidad .publicidad__principal .publicidad__principal__rounders .publicidad__principal__rounders--seo h3 {
        color: #d17502;
        font-weight: 600;
        font-style: italic;
        font-size: 3.2rem;
        font-family: "Roboto", sans-serif; }
      .publicidad .publicidad__principal .publicidad__principal__rounders .publicidad__principal__rounders--seo h4 {
        color: #fff;
        font-weight: 600;
        font-style: italic;
        font-size: 2.5rem;
        font-family: "Roboto", sans-serif; }
      .publicidad .publicidad__principal .publicidad__principal__rounders .publicidad__principal__rounders--seo p {
        color: white;
        font-weight: 300;
        font-family: "Roboto", sans-serif;
        font-style: italic;
        font-size: 1.3rem;
        margin-top: 15px; }
      .publicidad .publicidad__principal .publicidad__principal__rounders .publicidad__principal__rounders--seo img {
        height: 7px;
        width: 200px;
        margin-top: 10px; }

.accesibilidad {
  width: 100%;
  background-color: #01010f;
  min-height: 100px; }
  .accesibilidad .accesibilidad__content .accesibilidad__content__primary .accesibilidad__content__primary--titulo {
    margin-top: 70px; }
    .accesibilidad .accesibilidad__content .accesibilidad__content__primary .accesibilidad__content__primary--titulo h2 {
      color: #fff;
      font-weight: 600;
      font-family: "Montserrat", sans-serif;
      font-style: italic;
      text-align: left;
      font-size: 4rem; }
      .accesibilidad .accesibilidad__content .accesibilidad__content__primary .accesibilidad__content__primary--titulo h2 span {
        color: #db9600;
        font-weight: 800; }
    .accesibilidad .accesibilidad__content .accesibilidad__content__primary .accesibilidad__content__primary--titulo p {
      color: white;
      font-weight: 300;
      font-family: "Roboto", sans-serif;
      font-size: 2rem;
      margin-top: 30px; }
    .accesibilidad .accesibilidad__content .accesibilidad__content__primary .accesibilidad__content__primary--titulo .accesibilidad__botones_primary--boton {
      margin-top: 30px; }
  .accesibilidad .accesibilidad__cards .accesibilidad__cards_primary {
    margin-top: 30px; }
    .accesibilidad .accesibilidad__cards .accesibilidad__cards_primary .accesibilidad__cards_primary--accesible {
      background-color: #002858;
      height: 325px;
      padding: 15px 30px; }
      .accesibilidad .accesibilidad__cards .accesibilidad__cards_primary .accesibilidad__cards_primary--accesible:hover {
        transform: translateY(-10px);
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease; }
      .accesibilidad .accesibilidad__cards .accesibilidad__cards_primary .accesibilidad__cards_primary--accesible img {
        width: 50px; }
      .accesibilidad .accesibilidad__cards .accesibilidad__cards_primary .accesibilidad__cards_primary--accesible h3 {
        color: #fff;
        font-weight: 600;
        margin-top: 10px;
        font-style: italic;
        font-size: 2.4rem;
        font-family: "Montserrat", sans-serif; }
      .accesibilidad .accesibilidad__cards .accesibilidad__cards_primary .accesibilidad__cards_primary--accesible p {
        color: #fff;
        margin-top: 10px;
        font-style: italic;
        font-weight: 300;
        font-family: sans-serif 'roboto';
        font-size: 1.7rem;
        text-align: left;
        font-family: "Roboto", sans-serif; }
  .accesibilidad .accesibilidad__cards_primary--performant {
    background-color: #002858;
    height: 325px;
    padding: 15px 30px; }
    .accesibilidad .accesibilidad__cards_primary--performant:hover {
      transform: translateY(-10px);
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }
    .accesibilidad .accesibilidad__cards_primary--performant img {
      width: 50px; }
    .accesibilidad .accesibilidad__cards_primary--performant h3 {
      color: #fff;
      font-weight: 600;
      margin-top: 10px;
      font-style: italic;
      font-size: 2.4rem;
      font-family: "Montserrat", sans-serif; }
    .accesibilidad .accesibilidad__cards_primary--performant p {
      color: #fff;
      margin-top: 10px;
      font-style: italic;
      font-weight: 300;
      font-family: sans-serif 'roboto';
      font-size: 1.7rem;
      text-align: left;
      font-family: "Roboto", sans-serif; }
  .accesibilidad .accesibilidad__cards_primary--secure {
    background-color: #002858;
    height: 325px;
    padding: 15px 30px; }
    .accesibilidad .accesibilidad__cards_primary--secure:hover {
      transform: translateY(-10px);
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }
    .accesibilidad .accesibilidad__cards_primary--secure img {
      width: 50px; }
    .accesibilidad .accesibilidad__cards_primary--secure h3 {
      color: #fff;
      font-weight: 600;
      margin-top: 10px;
      font-style: italic;
      font-size: 2.4rem;
      font-family: "Montserrat", sans-serif; }
    .accesibilidad .accesibilidad__cards_primary--secure p {
      color: #fff;
      margin-top: 10px;
      font-style: italic;
      font-weight: 300;
      font-family: sans-serif 'roboto';
      font-size: 1.7rem;
      text-align: left;
      font-family: "Roboto", sans-serif; }
  .accesibilidad .accesibilidad__cards_primary--insightful {
    background-color: #002858;
    height: 325px;
    padding: 15px 30px; }
    .accesibilidad .accesibilidad__cards_primary--insightful:hover {
      transform: translateY(-10px);
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }
    .accesibilidad .accesibilidad__cards_primary--insightful img {
      width: 50px; }
    .accesibilidad .accesibilidad__cards_primary--insightful h3 {
      color: #fff;
      font-weight: 600;
      margin-top: 10px;
      font-style: italic;
      font-size: 2.4rem;
      font-family: "Montserrat", sans-serif; }
    .accesibilidad .accesibilidad__cards_primary--insightful p {
      color: #fff;
      margin-top: 10px;
      font-style: italic;
      font-weight: 300;
      font-family: sans-serif 'roboto';
      font-size: 1.7rem;
      text-align: left;
      font-family: "Roboto", sans-serif; }
  .accesibilidad .accesibilidad__cards_primary--optimized {
    background-color: #002858;
    height: 325px;
    padding: 15px 30px; }
    .accesibilidad .accesibilidad__cards_primary--optimized:hover {
      transform: translateY(-10px);
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }
    .accesibilidad .accesibilidad__cards_primary--optimized img {
      width: 50px; }
    .accesibilidad .accesibilidad__cards_primary--optimized h3 {
      color: #fff;
      font-weight: 600;
      margin-top: 10px;
      font-style: italic;
      font-size: 2.4rem;
      font-family: "Montserrat", sans-serif; }
    .accesibilidad .accesibilidad__cards_primary--optimized p {
      color: #fff;
      margin-top: 10px;
      font-style: italic;
      font-weight: 300;
      font-family: sans-serif 'roboto';
      font-size: 1.7rem;
      text-align: left;
      font-family: "Roboto", sans-serif; }
  .accesibilidad .accesibilidad__cards_primary--supported {
    background-color: #002858;
    height: 325px;
    padding: 15px 30px; }
    .accesibilidad .accesibilidad__cards_primary--supported:hover {
      transform: translateY(-10px);
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }
    .accesibilidad .accesibilidad__cards_primary--supported img {
      width: 50px; }
    .accesibilidad .accesibilidad__cards_primary--supported h3 {
      color: #fff;
      font-weight: 600;
      margin-top: 10px;
      font-style: italic;
      font-size: 2.4rem;
      font-family: "Montserrat", sans-serif; }
    .accesibilidad .accesibilidad__cards_primary--supported p {
      color: #fff;
      margin-top: 10px;
      font-style: italic;
      font-weight: 300;
      font-family: sans-serif 'roboto';
      font-size: 1.7rem;
      text-align: left;
      font-family: "Roboto", sans-serif; }

.form-block {
  background-color: #01010f;
  height: 900px;
  padding: 15px 30px; }
  .form-block .contacto__form .contacto__form_pricipal .contacto__form_principal--titulo h2 {
    color: white;
    font-family: "Montserrat", sans-serif;
    margin-top: 70px;
    font-size: 3rem;
    font-weight: 700;
    text-align: center; }
    .form-block .contacto__form .contacto__form_pricipal .contacto__form_principal--titulo h2 span {
      color: #d17502;
      text-align: center; }
  .form-block .contacto__form .contacto__form_pricipal .contacto__form_principal--titulo h3 {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    margin-top: 40px;
    font-size: 2.7rem;
    font-weight: 700;
    text-align: center; }

.formulario {
  position: relative;
  z-index: 3;
  max-width: 60rem;
  margin: 0 auto;
  padding: 2.25rem;
  width: 90%;
  margin-top: 10px; }
  .formulario .formulario_contacto .input-group {
    position: relative;
    margin-bottom: 2rem; }
  .formulario .formulario_contacto .texto, .formulario .formulario_contacto .email, .formulario .formulario_contacto textarea {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--just-white);
    width: 100%;
    outline: none;
    padding: 3rem 0;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    border-bottom: opacity .5;
    vertical-align: top; }
  .formulario .formulario_contacto input:focus {
    border-bottom: 2px solid white; }
  .formulario .formulario_contacto textarea:focus {
    border-bottom: 2px solid white; }
  .formulario .formulario_contacto textarea {
    max-width: 100%;
    max-height: 10.25rem;
    min-height: 5.125rem;
    min-width: 100%;
    font-size: 2.2rem; }
  .formulario .formulario_contacto label {
    color: white;
    position: absolute;
    top: 1rem;
    left: 0;
    font-size: 1.8rem;
    line-height: 1rem;
    margin-left: 1rem;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    font-weight: 300; }
  .formulario .formulario_contacto .enviar {
    background: #d17502;
    color: white;
    border-radius: 1px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 70px;
    padding: 1.4rem;
    width: 32%;
    font-size: 1.7rem;
    outline: none;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    font-family: "Roboto", sans-serif; }
    .formulario .formulario_contacto .enviar:hover {
      background-color: #002858; }

.footer {
  width: 100%;
  background-color: #d17502;
  min-height: 210px; }
  .footer .footer__pricipal .footer__content .footer--logo img {
    width: 200px; }
  .footer .footer--nav .menu-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .footer .footer--nav .menu-nav .t_nav {
      color: #03245c;
      font-weight: 800; }
    .footer .footer--nav .menu-nav a {
      color: white;
      font-size: 1.5rem;
      text-decoration: none;
      list-style: none;
      padding: 5px 15px; }
      .footer .footer--nav .menu-nav a:hover {
        color: #03245c;
        font-size: 1.5rem;
        text-decoration: none;
        list-style: none;
        padding: 5px 15px;
        font-weight: 800; }
  .footer .footer--information {
    padding: 0 30px; }
    .footer .footer--information p {
      font-weight: 400;
      font-size: 1.6rem;
      color: white;
      margin-top: 20px;
      text-align: justify; }
      .footer .footer--information p span {
        font-weight: 600;
        font-size: 1.8rem;
        color: #03245c; }
    .footer .footer--information .footer-info {
      font-weight: 300;
      font-size: 1.5rem;
      color: white;
      margin-top: 15px; }
    .footer .footer--information .footer__boton .footer-boton {
      display: block;
      background: #002858;
      top: 10px;
      padding: 15px 15px;
      text-align: center;
      color: white;
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: 2px;
      border-radius: 5px;
      transition: all 300ms;
      margin-left: 14px;
      border: none;
      width: 250px; }
      .footer .footer--information .footer__boton .footer-boton:hover {
        color: #ffffff;
        transform: translateX(5px);
        background-color: #01010f;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif; }

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  max-width: 100%; }

.banner .banner__principal .banner__principal__titulo .banner__principal__botones .banner__botones_box .banner__principal__botones--primary, .publicidad .publicidad_titulo .publicidad__titulo__pricipal .publicidad__principal__botones .publicidad__principal__botones--primary, .accesibilidad .accesibilidad__content .accesibilidad__content__primary .accesibilidad__content__primary--titulo .accesibilidad__botones_primary--boton, .nosotros__general .nosotros__principal .nosotros__secundario_titulo .nosotros__secundario--btn, .servicios .servicios__content .servicios__box .servicios__col .servicios__sociales .servicios__icons .servicios__boton--primary {
  display: block;
  text-decoration: none;
  background: #002858;
  top: 10px;
  padding: 15px 15px;
  text-align: center;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  transition: all 300ms;
  border: none;
  width: 250px; }

.banner .banner__principal .banner__principal__titulo .banner__principal__botones .banner__botones_box .banner__principal__botones--primary:hover, .publicidad .publicidad_titulo .publicidad__titulo__pricipal .publicidad__principal__botones .publicidad__principal__botones--primary:hover, .accesibilidad .accesibilidad__content .accesibilidad__content__primary .accesibilidad__content__primary--titulo .accesibilidad__botones_primary--boton:hover, .nosotros__general .nosotros__principal .nosotros__secundario_titulo .nosotros__secundario--btn:hover, .servicios .servicios__content .servicios__box .servicios__col .servicios__sociales .servicios__icons .servicios__boton--primary:hover {
  color: #ffffff;
  transform: translateY(10px);
  background-color: #d17502;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

.nosotros__general {
  background-color: #01010f;
  min-height: 400px; }
  .nosotros__general .nosotros__principal {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .nosotros__general .nosotros__principal .nosotros__secundario {
      width: 60%;
      margin-top: 200px; }
      .nosotros__general .nosotros__principal .nosotros__secundario .figure {
        max-width: 100%;
        width: 1000px; }
    .nosotros__general .nosotros__principal .nosotros__secundario_titulo {
      width: 50%;
      padding: 0 80px; }
      .nosotros__general .nosotros__principal .nosotros__secundario_titulo .nosotros__secundario--h1 {
        color: white;
        font-weight: 600;
        font-family: "Roboto", sans-serif;
        font-style: italic;
        text-align: left;
        margin-top: 150px;
        font-size: 4rem; }
      .nosotros__general .nosotros__principal .nosotros__secundario_titulo .nosotros__secundario--h1 span {
        color: #d17502; }
      .nosotros__general .nosotros__principal .nosotros__secundario_titulo .nosotros__secundario--p {
        color: white;
        font-weight: 300;
        text-align: justify;
        margin-top: 10px;
        font-family: "Roboto", sans-serif;
        font-size: 2rem; }

.cards_principal_container {
  background-color: #01010f;
  min-height: 900px; }
  .cards_principal_container .cards__team .team__title .team--h1 {
    color: white;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    text-align: left;
    margin-top: 100px;
    font-size: 4rem; }
    .cards_principal_container .cards__team .team__title .team--h1 span {
      color: #d17502; }
  .cards_principal_container .cards__team .team__title .team--p {
    color: white;
    font-weight: 300;
    text-align: left;
    margin-top: 30px;
    font-family: "Roboto", sans-serif;
    font-size: 2rem; }
  .cards_principal_container .team .team__principal {
    text-align: center; }
    .cards_principal_container .team .team__principal .team__secundario .team__secundario--img {
      width: 300px;
      margin-top: 40px; }
    .cards_principal_container .team .team__principal .team__secundario .team__secundario--h3 {
      color: white;
      font-weight: 600;
      font-family: "Roboto", sans-serif;
      font-style: italic;
      text-align: center;
      font-size: 3rem;
      margin-top: 30px; }
    .cards_principal_container .team .team__principal .team__secundario .team__secundario--h4 {
      color: white;
      font-weight: 400;
      font-family: "Roboto", sans-serif;
      margin-top: 15px;
      font-style: italic;
      text-align: center;
      font-size: 2rem; }
    .cards_principal_container .team .team__principal .team__secundario .team__secundario--p {
      color: white;
      font-weight: 300;
      font-family: "Roboto", sans-serif;
      font-style: italic;
      text-align: center;
      font-size: 1.5rem; }

.testimonios {
  background-color: #01010f;
  min-height: 400px; }
  .testimonios .comentarios__titulo h2 {
    font-weight: 700;
    font-size: 4rem;
    margin-top: 70px;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif; }
    .testimonios .comentarios__titulo h2 span {
      color: #d17502;
      font-size: 4rem;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      text-align: center; }
  .testimonios .content--slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px; }
    .testimonios .content--slide img {
      width: 200px; }
    .testimonios .content--slide .content--slides {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 50%; }
      .testimonios .content--slide .content--slides h3 {
        font-weight: 400;
        font-size: 2rem;
        color: white;
        margin-top: 15px;
        font-family: "Roboto", sans-serif; }
      .testimonios .content--slide .content--slides p {
        font-weight: 300;
        font-size: 1.5rem;
        color: #fff;
        margin-top: 10px;
        font-family: "Roboto", sans-serif;
        text-align: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif; }

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  max-width: 100%; }

.banner .banner__principal .banner__principal__titulo .banner__principal__botones .banner__botones_box .banner__principal__botones--primary, .publicidad .publicidad_titulo .publicidad__titulo__pricipal .publicidad__principal__botones .publicidad__principal__botones--primary, .accesibilidad .accesibilidad__content .accesibilidad__content__primary .accesibilidad__content__primary--titulo .accesibilidad__botones_primary--boton, .nosotros__general .nosotros__principal .nosotros__secundario_titulo .nosotros__secundario--btn, .servicios .servicios__content .servicios__box .servicios__col .servicios__sociales .servicios__icons .servicios__boton--primary {
  display: block;
  text-decoration: none;
  background: #002858;
  top: 10px;
  padding: 15px 15px;
  text-align: center;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  transition: all 300ms;
  border: none;
  width: 250px; }

.banner .banner__principal .banner__principal__titulo .banner__principal__botones .banner__botones_box .banner__principal__botones--primary:hover, .publicidad .publicidad_titulo .publicidad__titulo__pricipal .publicidad__principal__botones .publicidad__principal__botones--primary:hover, .accesibilidad .accesibilidad__content .accesibilidad__content__primary .accesibilidad__content__primary--titulo .accesibilidad__botones_primary--boton:hover, .nosotros__general .nosotros__principal .nosotros__secundario_titulo .nosotros__secundario--btn:hover, .servicios .servicios__content .servicios__box .servicios__col .servicios__sociales .servicios__icons .servicios__boton--primary:hover {
  color: #ffffff;
  transform: translateY(10px);
  background-color: #d17502;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

.servicios {
  background: url("../img/slide-3.jpg");
  background-size: cover;
  min-height: 800px;
  background-size: 100% 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat; }
  .servicios .servicios__content .servicios__box .servicios__col {
    margin-top: 150px; }
    .servicios .servicios__content .servicios__box .servicios__col .logo-servicios {
      margin-top: 450px; }
    .servicios .servicios__content .servicios__box .servicios__col .background-content {
      background: url("../img/fondo-servicios.png");
      width: 600px;
      min-height: 400px;
      padding: 20px 30px;
      max-width: 100%; }
      .servicios .servicios__content .servicios__box .servicios__col .background-content h1 {
        color: #fff;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        text-align: left;
        font-size: 4rem; }
      .servicios .servicios__content .servicios__box .servicios__col .background-content .servicios--rectangulo {
        width: 400px;
        max-width: 100%;
        height: 8px; }
      .servicios .servicios__content .servicios__box .servicios__col .background-content p {
        color: #fff;
        font-weight: 300;
        font-family: "Roboto", sans-serif;
        font-style: italic;
        text-align: left;
        font-size: 2rem; }
    .servicios .servicios__content .servicios__box .servicios__col .servicios__sociales {
      display: flex;
      justify-content: right;
      align-items: center;
      text-align: center; }
      .servicios .servicios__content .servicios__box .servicios__col .servicios__sociales .servicios__icons {
        margin-top: 30px; }
        .servicios .servicios__content .servicios__box .servicios__col .servicios__sociales .servicios__icons .social-icon {
          width: 40px;
          padding: 0 5px; }
          .servicios .servicios__content .servicios__box .servicios__col .servicios__sociales .servicios__icons .social-icon:hover {
            -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
            transition: all .5s; }
        .servicios .servicios__content .servicios__box .servicios__col .servicios__sociales .servicios__icons .servicios__boton--primary {
          margin-top: 30px; }

.items-servicios {
  background-color: #01010f;
  min-height: 1700px; }
  .items-servicios .items__content .items__box .items__col {
    margin-top: 70px; }
    .items-servicios .items__content .items__box .items__col .titulo--icon {
      display: flex;
      justify-content: start;
      align-items: left; }
      .items-servicios .items__content .items__box .items__col .titulo--icon i {
        color: #d17502;
        font-size: 4rem;
        padding: 0 20px; }
      .items-servicios .items__content .items__box .items__col .titulo--icon h2 {
        color: white;
        font-size: 4rem;
        font-weight: 600;
        font-family: "Montserrat", sans-serif; }
    .items-servicios .items__content .items__box .items__col .titulo--parrafo {
      padding: 0 90px; }
      .items-servicios .items__content .items__box .items__col .titulo--parrafo p {
        color: white;
        font-size: 2rem;
        font-weight: 400;
        font-style: italic;
        font-family: "Roboto", sans-serif;
        margin-top: 5px; }
    .items-servicios .items__content .items__box .items__col .img--developer {
      max-width: 100%;
      width: 640px;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }
      .items-servicios .items__content .items__box .items__col .img--developer:hover {
        transform: translate(-38px, -38px) rotateY(-18deg) rotateX(18deg); }

.responsive__content .responsive__box .responsive__col {
  margin-top: 70px;
  padding: 0 30px; }
  .responsive__content .responsive__box .responsive__col .img--responsive {
    max-width: 100%;
    width: 640px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
    .responsive__content .responsive__box .responsive__col .img--responsive:hover {
      transform: translate(-38px, -38px) rotateY(18deg) rotateX(-18deg); }
  .responsive__content .responsive__box .responsive__col .titulo__icon--responsive {
    display: flex;
    justify-content: start;
    align-items: center; }
    .responsive__content .responsive__box .responsive__col .titulo__icon--responsive h2 {
      color: white;
      font-size: 4rem;
      font-weight: 600;
      font-family: "Montserrat", sans-serif; }
    .responsive__content .responsive__box .responsive__col .titulo__icon--responsive i {
      color: #d17502;
      font-size: 4rem;
      padding: 0 20px; }
  .responsive__content .responsive__box .responsive__col .titulo__parrafo--responsive {
    padding: 0 65px; }
    .responsive__content .responsive__box .responsive__col .titulo__parrafo--responsive p {
      color: white;
      font-size: 2rem;
      font-weight: 400;
      font-style: italic;
      font-family: "Roboto", sans-serif;
      margin-top: 5px; }
