//VARIABLES 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;   
    font-family: 'Roboto', sans-serif; 
}

html{
    font-family: 'Montserrat', sans-serif;  
    font-size: 62.5%;
    max-width: 100%;}

$just-white: #fff;
$just-blue: #002858;
$just-orange:#d17502;
$off-orange: #db9600;
$off-background: #01010f;
$tipografia-principal: 'Montserrat', sans-serif; 
$tipografia-secundario:'Roboto', sans-serif; 
$fuente-titulo:4rem;
$fuente-parrafo:2rem;
$space-section:70px;
$space-parrafo:30px;


%btn{
    display: block;
    text-decoration: none;
    background:#002858;
    top: 10px;
    padding: 15px 15px;
    text-align: center;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    transition: all 300ms;
    border: none;
    width: 250px;
  }

%btn-hover{
    color: #ffffff;
    transform: translateY(10px);
    background-color: #d17502;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
// NAV-MENU

.header{
    .navbar{
        padding: 10px 0;   
        background:$just-orange !important;
    .logo{
        width: 150px; }
    .nav-item a{
        font-weight: 500;
        font-size: 1.4rem;
        color: white !important;}
    .nav-item{    
        margin: 0 5px; 
        &:hover{
            background-color: $just-blue;
            color: white;} 
    .active{
        background-color: $just-blue;
        padding: 5px 15px;}    
    }
    .navbar-toggler{
        border: none;
        color: white;
        border: 2px solid white;
        border-radius: 0;
        outline: none; }  
    }
}

// BANNER

.hero{
    .hero__content{
        background:url("../img/bg.jpg");
        background-size:cover;
        min-height:800px;
        background-size: 100% 100%;	
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        .hero__box{
            .hero__col{
                margin-top: $space-section;
                .banner--sociales{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                    
                    img{
                        width: 50px;                    
                        margin-top: 0px;
                        padding: 0 10px;
                        cursor: pointer;

                        &:hover{
                            -webkit-transform: scale(1.3);
                            -ms-transform: scale(1.3);
                            transform: scale(1.3);
                            transition: all .5s;
                        }
                    }
                }

                .hero--titulo{
                    margin-top: $space-section;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    h1{
                        color:$just-white;
                        font-family: $tipografia-principal;
                        font-weight: 600;
                        font-size: 5rem;
                        text-align: center;
                        font-style: italic;
                        
                        span{
                            color: $just-orange;
                            font-weight: 800;
                        }
                    }

                    img{
                        height: 7px;
                        width: 600px;
                        margin-top: $space-parrafo;

                    }
                    
                    p{
                        color:$just-white;
                        font-family: $tipografia-secundario;
                        font-weight: 300;
                        margin-top: 30px;
                        font-size:$fuente-parrafo;
                        text-align: center;
                        font-style: italic; 
                    }

                    .hero--boton{
                        margin-top:10px;
                        @extend %btn;
                            &:hover{
                                @extend %btn-hover;
                            }
                    }

                    .fa-chevron-down{
                        color: $just-white;
                        font-size: 4rem;
                        padding: 0 20px;
                        margin-top:100px;
                        cursor: pointer;                 
                    }
                }
            }
        }
    }
}

// PUBLICIDAD

.publicidad{
    background-color:$off-background;
    min-height: 500px;
    .publicidad__content{
        .publicidad__box{
            .publicidad__col{       
                    padding: 30px 0;
                    h2{
                        color: $just-white;
                        font-weight: 600;
                        font-family: $tipografia-principal;
                        font-style: italic;
                        text-align: center;
                        font-size:$fuente-titulo;
                        padding: 30px 0;
                        
                        span{
                            color: $just-orange;
                            font-weight: 800;
                        }    
                    }

                    p{
                        color: white;
                        font-weight: 300;
                        font-family: $tipografia-secundario;
                        font-size:$fuente-parrafo;                 
                        
                    }

                    .publicidad--boton{
                        margin: 0 auto;
                        margin-top: $space-parrafo;
                        @extend %btn;          
                            &:hover{
                            @extend %btn-hover;
                        }
                    }
                
            }
        }
    }



// MEDIDAS
    .publicidad__principal{
        .publicidad__principal__rounders{
            margin-top: $space-section;
            .publicidad__principal__rounders--medida{

                &:hover{
                    transform: translateY(-10px);
                    -webkit-transition: all .3s ease;
                    -o-transition: all .3s ease;
                    transition: all .3s ease;
                }

                background-image: url('../img/circulo-1.png');
                min-height: 400px;
                background-position:center;
                background-repeat: no-repeat;
                background-size: contain;
                padding: 60px 40px;
                text-align: center;
                width: 380px;

                h3{
                    color: $just-orange;
                    font-weight: 600;
                    font-style: italic;
                    font-size: 3.2rem;  
                    font-family: $tipografia-secundario; 
                }

                h4{
                    color: white;
                    font-weight: 600;
                    font-style: italic;
                    font-size: 2.5rem;
                    font-family: $tipografia-secundario; 
                }

                p{
                    color: white;
                    font-weight: 300;
                    font-family: $tipografia-secundario; 
                    font-style: italic;
                    font-size: 1.3rem;
                    margin-top: 15px;
                }

                img{
                    height: 7px;
                    width: 200px;
                    margin-top: 10px;
                }
            }
// DISEÑO
            .publicidad__principal__rounders--diseño{
                background-image: url('../img/circulo-1.png');
                min-height: 400px;
                background-position:center;
                background-repeat: no-repeat;
                background-size: contain;
                padding: 60px 40px;
                text-align: center;
                width: 380px;

                &:hover{
                    transform: translateY(-10px);
                    -webkit-transition: all .3s ease;
                    -o-transition: all .3s ease;
                    transition: all .3s ease;
                }

                h3{
                    color: $just-orange;
                    font-weight: 600;
                    font-style: italic;
                    font-size: 3.2rem;  
                    font-family: $tipografia-secundario; 
                }

                h4{
                    color: white;
                    font-weight: 600;
                    font-style: italic;
                    font-size: 2.5rem;
                    font-family: $tipografia-secundario; 
                }

                p{
                    color: white;
                    font-weight: 300;
                    font-family: $tipografia-secundario; 
                    font-style: italic;
                    font-size: 1.3rem;
                    margin-top: 15px;
                }

                img{
                    height: 7px;
                    width: 200px;
                    margin-top: 10px;
                }
            }
//SEO
            .publicidad__principal__rounders--seo{
                background-image: url('../img/circulo-3.png');
                min-height: 400px;
                background-position:center;
                background-repeat: no-repeat;
                background-size: contain;
                padding: 60px 40px;
                text-align: center;
                width: 380px;

                &:hover{
                    transform: translateY(-10px);
                    -webkit-transition: all .3s ease;
                    -o-transition: all .3s ease;
                    transition: all .3s ease;
                }

                h3{
                    color: $just-orange;
                    font-weight: 600;
                    font-style: italic;
                    font-size: 3.2rem;  
                    font-family: $tipografia-secundario; 
                }

                h4{
                    color:$just-white;
                    font-weight: 600;
                    font-style: italic;
                    font-size: 2.5rem;
                    font-family: $tipografia-secundario; 
                }

                p{
                    color: white;
                    font-weight: 300;
                    font-family: $tipografia-secundario; 
                    font-style: italic;
                    font-size: 1.3rem;
                    margin-top: 15px;
                }

                img{
                    height: 7px;
                    width: 200px;
                    margin-top: 10px;
                }
            }
        }
    }

}

// BLOQUE ACCESIBILIDAD

.accesibilidad{
    width: 100%;
    background-color: $off-background;
    min-height: 100px;
    .accesibilidad__content{
        .accesibilidad__content__primary{
            .accesibilidad__content__primary--titulo{
                margin-top: $space-section;
                h2{
                    color: $just-white;
                    font-weight: 600;
                    font-family: $tipografia-principal;
                    font-style: italic;
                    text-align: left;
                    font-size:$fuente-titulo;

                    span{
                        color: $off-orange;
                        font-weight: 800;
                    }
                }

                p{
                    color: white;
                    font-weight: 300;
                    font-family: $tipografia-secundario;
                    font-size:$fuente-parrafo; 
                    margin-top: $space-parrafo;
                }

            .accesibilidad__botones_primary--boton{
                @extend %btn;
                margin-top: $space-parrafo;

                &:hover{
                    @extend %btn-hover;
                }
            }
            }
        }
    }

    .accesibilidad__cards{
        .accesibilidad__cards_primary{
            margin-top: $space-parrafo;
            .accesibilidad__cards_primary--accesible{             
                background-color: $just-blue;
                min-height: 350px;
                padding: 20px 30px;
                    &:hover{
                        transform: translateY(-10px);
                        -webkit-transition: all .3s ease;
                        -o-transition: all .3s ease;
                        transition: all .3s ease;
                    }
                img{
                    width: 50px;
                }

                h3{
                    color: $just-white;
                    font-weight: 600;
                    margin-top: 10px;
                    font-style: italic;
                    font-size: 2.4rem;
                    font-family: $tipografia-principal;
                }
                p{
                    color: $just-white; 
                    margin-top: 10px;
                    font-style: italic;
                    font-weight: 300;
                    font-family: sans-serif 'roboto';
                    font-size:1.7rem;
                    text-align: left;
                    font-family: $tipografia-secundario;
                }
            }
        }
    }

// CARD-ACCESIBILIDAD

            .accesibilidad__cards_primary--performant{
                background-color: $just-blue;
                min-height: 350px;
                padding: 20px 30px;

                &:hover{
                    transform: translateY(-10px);
                    -webkit-transition: all .3s ease;
                    -o-transition: all .3s ease;
                    transition: all .3s ease;
                }

                img{
                    width: 50px;
                }
                h3{
                    color: $just-white;
                    font-weight: 600;
                    margin-top: 10px;
                    font-style: italic;
                    font-size: 2.4rem;
                    font-family: $tipografia-principal;
                }
                p{
                    color: $just-white; 
                    margin-top: 10px;
                    font-style: italic;
                    font-weight: 300;
                    font-family: sans-serif 'roboto';
                    font-size:1.7rem;
                    text-align: left;
                    font-family: $tipografia-secundario;
                }
            }

// CARD-SEGURIDAD

            .accesibilidad__cards_primary--secure{
                background-color: $just-blue;
                min-height: 350px;
                padding: 20px 30px;

                &:hover{
                    transform: translateY(-10px);
                    -webkit-transition: all .3s ease;
                    -o-transition: all .3s ease;
                    transition: all .3s ease;
                }

                img{
                    width: 50px;
                }
                h3{
                    color: $just-white;
                    font-weight: 600;
                    margin-top: 10px;
                    font-style: italic;
                    font-size: 2.4rem;
                    font-family: $tipografia-principal;
                }
                p{
                    color: $just-white; 
                    margin-top: 10px;
                    font-style: italic;
                    font-weight: 300;
                    font-family: sans-serif 'roboto';
                    font-size:1.7rem;
                    text-align: left;
                    font-family: $tipografia-secundario;
                }
            }
 // CARD-ANALISIS

            .accesibilidad__cards_primary--insightful{
                background-color: $just-blue;
                min-height: 350px;
                padding: 20px 30px;

                &:hover{
                    transform: translateY(-10px);
                    -webkit-transition: all .3s ease;
                    -o-transition: all .3s ease;
                    transition: all .3s ease;
                }

                img{
                    width: 50px;
                }
                h3{
                    color: $just-white;
                    font-weight: 600;
                    margin-top: 10px;
                    font-style: italic;
                    font-size: 2.4rem;
                    font-family: $tipografia-principal;
                }
                p{
                    color: $just-white; 
                    margin-top: 10px;
                    font-style: italic;
                    font-weight: 300;
                    font-family: sans-serif 'roboto';
                    font-size:1.7rem;
                    text-align: left;
                    font-family: $tipografia-secundario;
                }
            }
            
//  SEGURIDAD

            .accesibilidad__cards_primary--optimized{
                background-color: $just-blue;
                min-height: 350px;
                padding: 20px 30px;

                &:hover{
                    transform: translateY(-10px);
                    -webkit-transition: all .3s ease;
                    -o-transition: all .3s ease;
                    transition: all .3s ease;
                }

                img{
                    width: 50px;
                }
                h3{
                    color: $just-white;
                    font-weight: 600;
                    margin-top: 10px;
                    font-style: italic;
                    font-size: 2.4rem;
                    font-family: $tipografia-principal;
                }
                p{
                    color: $just-white; 
                    margin-top: 10px;
                    font-style: italic;
                    font-weight: 300;
                    font-family: sans-serif 'roboto';
                    font-size:1.7rem;
                    text-align: left;
                    font-family: $tipografia-secundario;
                }
            }

// SOPORTE

            .accesibilidad__cards_primary--supported{
                background-color: $just-blue;
                min-height: 350px;
                padding: 20px 30px;
                
                &:hover{
                    transform: translateY(-10px);
                    -webkit-transition: all .3s ease;
                    -o-transition: all .3s ease;
                    transition: all .3s ease;
                }

                img{
                    width: 50px;
                }
                h3{
                    color: $just-white;
                    font-weight: 600;
                    margin-top: 10px;
                    font-style: italic;
                    font-size: 2.4rem;
                    font-family: $tipografia-principal;
                }
                p{
                    color: $just-white; 
                    margin-top: 10px;
                    font-style: italic;
                    font-weight: 300;
                    font-family: sans-serif 'roboto';
                    font-size:1.7rem;
                    text-align: left;
                    font-family: $tipografia-secundario;
                }
        }
}

// CONTACTO
 
.form-block{
    background-color: $off-background;
    height: 900px;
    padding: 15px 30px;
    .contacto__form{
        .contacto__form_pricipal{
            .contacto__form_principal--titulo{
                h2{
                    color:white;
                    font-family: $tipografia-principal;
                    margin-top: 70px;
                    font-size: 3rem;
                    font-weight: 700;
                    text-align: center;
                    
                    span{
                        color: $just-orange;
                        text-align: center;
                    }
                }

                h3{
                    color:$just-white;
                    font-family: $tipografia-principal;
                    margin-top: 40px;
                    font-size: 2.7rem;
                    font-weight: 700;
                    text-align: center
                }
            }
        }
    }
}

.formulario{
    position: relative;
    z-index: 3;
    max-width: 60rem;
    margin: 0 auto;
    padding: 2.25rem;
    width: 90%;
    margin-top: 10px;

    .formulario_contacto{
        .input-group{
            position: relative;
            margin-bottom: 2rem;
        }
    .texto, .email, textarea{
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--just-white);
        width: 100%;
        outline: none;
        padding: 3rem 0;
        background: none;
        border: none;
        border-bottom: 2px solid white;
        border-bottom: opacity .5;
        vertical-align: top;
    }

    input:focus{
        border-bottom: 2px solid white;
    }

    textarea:focus{
        border-bottom: 2px solid white;
    }

    textarea{
        max-width: 100%;
        max-height: 10.25rem;
        min-height: 5.125rem;
        min-width: 100%;
        font-size: 2.2rem;
    }

    label{
        color:white;
        position: absolute;
        top: 1rem;
        left: 0;
        font-size: 1.8rem;
        line-height: 1rem;
        margin-left: 1rem;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        font-weight: 300;
    }

    .enviar{
        background:$just-orange;
        color: white;
        border-radius: 1px;
        border:  none;
        cursor: pointer;
        display: block;
        margin: 0 auto;
        margin-top: 70px;
        padding: 1.4rem;
        width: 32%;
        font-size: 1.7rem;
        outline: none;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        font-family:$tipografia-secundario;

        &:hover{
            background-color: $just-blue;
        }
    }
    }
}

// FOOTER

.footer{
    width: 100%;
    background-color: $just-orange;
    min-height: 210px;
    .footer__pricipal{
        .footer__content{
            .footer--logo{
                img{
                    width: 200px;
                }
            }
        }
    }

    .footer--nav{
        .menu-nav{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .t_nav{
                color:#03245c;
                font-weight: 800;
            }

            a{
                color: white;
                font-size: 1.5rem;
                text-decoration: none;
                list-style: none;
                padding: 5px 15px;

                &:hover{
                    color:#03245c;
                    font-size: 1.5rem;
                    text-decoration: none;
                    list-style: none;
                    padding: 5px 15px;
                    font-weight: 800;
                }
            }
        }
    }

    .footer--information{
        padding: 0 30px;
        p{
            font-weight: 400;
            font-size: 1.6rem;
            color: white;
            margin-top: 20px;
            text-align: justify;
            
            
            span{
                font-weight: 600;
                font-size: 1.8rem;
                color:#03245c;
            }
        }

        .footer-info{
            font-weight: 300;
            font-size: 1.5rem;
            color: white;
            margin-top: 15px;
        }

       
        .footer__boton{
            .footer-boton{
                display: block;
                background:$just-blue;
                top: 10px;
                padding: 15px 15px;
                text-align: center;
                color: white;
                font-size: 15px;
                text-transform: uppercase;
                letter-spacing: 2px;
                border-radius: 5px;
                transition: all 300ms;
                margin-left: 14px;
                border: none;
                width: 250px;

                &:hover{
                    color: #ffffff;
                    transform: translateX(5px);
                    background-color: $off-background;
                    -webkit-transition: all .3s ease;
                    -o-transition: all .3s ease;
                    transition: all .3s ease;
                }
               
            }

           
        }


    }
}

@media screen and (max-width:767px){  
// BANNER HERO 
    .hero{
        .hero__content{
            min-height:950px;
            .hero__box{
                .hero__col{              
                    .banner--sociales{               
                    justify-content: flex-center;              
                    }

                    .hero--titulo{               
                        justify-content: center;       
                        h1{                   
                            font-size: 4.2rem;                   
                        }

                        img{                  
                            width: 400px;
                        }
                        
                        p{
                            color:$just-white;
                            font-family: $tipografia-secundario;
                            font-weight: 300;
                            margin-top: 30px;
                            font-size:$fuente-parrafo;
                            text-align: center;
                            font-style: italic; 
                        }

                        .hero--boton{
                            margin-top: 15px;
                        }
                    }
                }
            }
        }
    }
//PUBLICIDAD
    .publicidad {
        .publicidad__content{
            .publicidad__box{
                .publicidad__col{                      
                    
                        padding: 30px 0;
                        h2{
                            font-size:4rem;                                      
                        }
    
                        p{
                            color: white;
                            font-weight: 300;
                            font-family: $tipografia-secundario;
                            font-size:$fuente-parrafo;
                            text-align: justify;              
                        }
                    
                }
            }
        }

    .publicidad__principal{
        .publicidad__principal__rounders{
            margin-top: 20px;
            .publicidad__principal__rounders--medida{
                width: 350px;
                
                h3{
                    font-size: 2.8rem;
                }
                h4{
                    font-size: 2.3rem;
                }
            }
        }

        .publicidad__principal__rounders{
            .publicidad__principal__rounders--diseño{
                width: 350px;
                h3{
                    font-size: 2.8rem;
                }
                h4{
                    font-size: 2.3rem;
                }
            }
        }

        .publicidad__principal__rounders{
            .publicidad__principal__rounders--seo{
                margin-top: -10px;
                width: 350px;
                h3{
                    font-size: 2.8rem;
                }
                h4{
                    font-size: 2.3rem;
                }
            }
        }
    }    
}

// BLOQUE ACCESIBILIDAD
.accesibilidad{
    .accesibilidad__content{
        .accesibilidad__content__primary{
            justify-content: center;
            margin-top: -50px;
            .accesibilidad__content__primary--titulo{
                width: 100%;
                h2{
                    font-size:4rem;
                    text-align: center;
                }

                p{
                    text-align: justify;
                }

                .accesibilidad__botones_primary--boton{
                    margin: 0 auto;
                    margin-top: 30px;
                }
            }
        }
    }

//CARDS
    .accesibilidad__cards{
        .accesibilidad__cards_primary{
            .accesibilidad__cards_primary--accesible{
                width: 80%;
                min-height: 250px;
            }

            .accesibilidad__cards_primary--performant{
                width: 80%;
                min-height: 250px;
            }

            .accesibilidad__cards_primary--secure{
                width: 80%;
                min-height: 250px;
            }

            .accesibilidad__cards_primary--insightful{
                width: 80%;
                min-height: 250px;
            }

            .accesibilidad__cards_primary--optimized{
                width: 80%;
                min-height: 250px;
            }

            .accesibilidad__cards_primary--supported{
                width: 80%;
                min-height: 250px;
            }
            
        }
    }
}



}



@media screen and (max-width:480px){   
    .hero{
        .hero__content{
            min-height:800px;
            .hero__box{
                .hero__col{    
                    width: 90%;          
                    .banner--sociales{               
                    justify-content: center;              
                    }

                    .hero--titulo{               
                        justify-content: center;       
                        h1{                   
                            font-size: 3rem;                   
                        }

                        img{                  
                            width: 250px;
                        }
                        
                        p{
                            font-size: 2rem;
                            text-align: justify;
                        }

                        .hero--boton{
                            margin-top: 15px;
                        }

                        .fa-chevron-down{
                            font-size: 3.2rem;
                        }
                        
                    }
                }
            }
        }

        
    }

//PUBLICIDAD
    .publicidad {
        .publicidad__content{
            .publicidad__box{
                .publicidad__col{               
                    
                        
                        h2{
                           
                            font-size:3.5rem;                                      
                        }
    
                        p{
                           font-size: 2rem;              
                        }
                    
                }
            }
        }

        .publicidad__principal{
            .publicidad__principal__rounders{
                margin-top: 20px;
                .publicidad__principal__rounders--medida{
                    width: 320px;
                    h3{
                        font-size: 2.3rem;
                    }
                    h4{
                        font-size: 1.9rem;
                    }

                    p{
                        font-size: 1.1rem;
                    }
                }
            }
    
            .publicidad__principal__rounders{
                
                .publicidad__principal__rounders--diseño{
                    margin-top: -30px;
                    width: 320px;
                    h3{
                        font-size: 2.3rem;
                        margin-top: 30px;
                    }
                    h4{
                        font-size: 1.9rem;
                    }

                    p{
                        font-size: 1.1rem;
                    }
                }
            }
    
            .publicidad__principal__rounders{
                .publicidad__principal__rounders--seo{
                    margin-top: -30px;
                    width: 320px;
                    h3{
                        font-size: 2.3rem;
                        margin-top: 30px;
                        
                    }
                    h4{
                        font-size: 1.9rem;
                    }

                    p{
                        font-size: 1.1rem;
                    }
                }
            }
        }
    
    }

    // BLOQUE ACCESIBILIDAD
.accesibilidad{
    .accesibilidad__content{
        .accesibilidad__content__primary{
            justify-content: center;
            margin-top: -50px;
            .accesibilidad__content__primary--titulo{
                width: 100%;
                h2{
                    font-size:3.2rem;
                    text-align: center;
                }

                .accesibilidad__botones_primary--boton{
                    margin: 0 auto;
                    margin-top: 30px;
                }
            }
        }

    }

    //CARDS
    .accesibilidad__cards{
        .accesibilidad__cards_primary{
            .accesibilidad__cards_primary--accesible{
                width: 90%;
                min-height: 250px;
                margin: 0 auto;
                
                img{
                    width: 30px;
                }

                h3{
                    font-size: 2.2rem;
                }

                p{
                    font-size:1.7rem ;
                }
            }

            .accesibilidad__cards_primary--performant{
                width: 90%;
                min-height: 250px;

                img{
                    width: 30px;
                }

                h3{
                    font-size: 2.2rem;
                }

                p{
                    font-size:1.7rem ;
                }
            }

            .accesibilidad__cards_primary--secure{
                width: 90%;
                min-height: 250px;

                img{
                    width: 35px;
                }

                h3{
                    font-size: 2.2rem;
                }

                p{
                    font-size:1.7rem ;
                }
            }

            .accesibilidad__cards_primary--insightful{
                width: 90%;
                min-height: 250px;

                img{
                    width: 35px;
                }

                h3{
                    font-size: 2.2rem;
                }

                p{
                    font-size:1.7rem ;
                }
            }

            .accesibilidad__cards_primary--optimized{
                width: 90%;
                min-height: 250px;

                img{
                    width: 35px;
                }

                h3{
                    font-size: 2.2rem;
                }

                p{
                    font-size:1.7rem ;
                }
            }

            .accesibilidad__cards_primary--supported{
                width: 90%;
                min-height: 250px;

                img{
                    width: 35px;
                }

                h3{
                    font-size: 2.2rem;
                }

                p{
                    font-size:1.7rem ;
                }
            }
            
        }
    }
}

.form-block{
    .contacto__form{
        .contacto__form_pricipal{
            .contacto__form_principal--titulo{
                margin-top: -50px;
                h2{
                    font-size: 3rem;

                    span{
                        font-size: 3rem;
                    }
                }

                h3{
                    font-size: 2.5rem;
                }
            }
        }
    }
}

}

@media screen and (max-width:320px){   
    .hero{
        .hero__content{
            min-height:950px;
            .hero__box{
                .hero__col{ 
                    width: 80%;             
                    .banner--sociales{               
                    justify-content: center;              
                    }

                    .hero--titulo{               
                        justify-content: center;       
                        h1{                   
                            font-size: 3rem;                   
                        }

                        img{                  
                            width: 250px;
                        }
                        
                        p{           
                           font-size:2rem;    
                        }

                        .hero--boton{
                            margin-top: 15px;
                        }

                        .fa-chevron-down{
                            font-size: 3.2rem;
                        }
                        
                    }
                }
            }
        }
    }

    //PUBLICIDAD
    .publicidad {
        .publicidad__content{
            .publicidad__box{
                      
                    .publicidad--titulo{
                        
                        h2{
                           
                            font-size:3.5rem;                                      
                        }
    
                        p{
                           font-size: 2rem;              
                        }
                    }
                
            }
        }

        .publicidad__principal{
            .publicidad__principal__rounders{
                margin-top: -20px;
                .publicidad__principal__rounders--medida{
                    width: 300px;
                    h3{
                        font-size: 2.2rem;
                        margin-top: 5px;
                    }
                    h4{
                        font-size: 1.8rem;
                    }

                    p{
                        font-size: 1.1rem;
                    }
                }
            }
    
            .publicidad__principal__rounders{
                .publicidad__principal__rounders--diseño{
                    margin-top: -50px;
                    width: 300px;
                    h3{
                        font-size: 2.2rem;
                        margin-top: 30px;
                    }
                    h4{
                        font-size: 1.8rem;
                    }

                    p{
                        font-size: 1rem;
                    }
                }
            }
    
            .publicidad__principal__rounders{
                .publicidad__principal__rounders--seo{
                    margin-top: -50px;
                    width: 300px;
                    h3{
                        font-size: 2.2rem;
                        margin-top: 30px;
                        
                    }
                    h4{
                        font-size: 1.8rem;
                    }

                    p{
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    // BLOQUE ACCESIBILIDAD
.accesibilidad{
    .accesibilidad__content{
        .accesibilidad__content__primary{
            justify-content: center;
            margin-top: -70px;
            .accesibilidad__content__primary--titulo{
                width: 100%;
                h2{
                    font-size:3rem;
                    text-align: center;
                }

                p{
                    font-size: 2rem;
                }

                .accesibilidad__botones_primary--boton{
                    margin: 0 auto;
                    margin-top: 30px;
                }

            }
        }
    }
}

//contacto

.form-block{
    .contacto__form{
        .contacto__form_pricipal{
            .contacto__form_principal--titulo{
                h2{
                    font-size: 2.5rem;

                    span{
                        font-size: 2.5rem;
                    }
                }

                h3{
                    font-size: 2.2rem;
                }

            }
        }
    }

    .formulario{
        .enviar{
            width: 60%;
        }
    }
}


}
//footer
@media screen and (max-width:991px){
    .footer{
        .footer__pricipal{
            .footer__content{
                .footer--logo{
                    img{
                        width: 200px;
                    }
                }
            }
        }
    
        .footer--nav{
            .menu-nav{
                
            }
        }
    
        .footer--information{
            
            p{
                
                text-align: center;
            }
    
            .footer-info{
                
            }
    
           
            .footer__boton{
            
            }
    
    
        }
    }
}
//footer
@media screen and (max-width:320px){
    .footer{
        .footer__pricipal{
            .footer__content{
                .footer--logo{
                    img{
                        width: 200px;
                    }
                }
            }
        }
    
        .footer--nav{
            .menu-nav{
                
            }
        }
    
        .footer--information{
            
            p{
                
                text-align: center;
            }
    
            .footer-info{
                
            }
    
           
            .footer__boton{
             margin-left: -15px;
            }
    
    
        }
    }
}


