//VARIABLES 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;   
    font-family: 'Roboto', sans-serif; 
}

html{
    font-family: 'Montserrat', sans-serif;  
    font-size: 62.5%;
    max-width: 100%;}

$just-white: #fff;
$just-blue: #002858;
$just-orange:#d17502;
$off-orange: #db9600;
$off-background: #01010f;
$tipografia-principal: 'Montserrat', sans-serif; 
$tipografia-secundario:'Roboto', sans-serif; 
$fuente-titulo:4rem;
$fuente-parrafo:2rem;
$space-section:70px;
$space-parrafo:30px;

%btn{
    display: block;
    text-decoration: none;
    background:#002858;
    top: 10px;
    padding: 15px 15px;
    text-align: center;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    transition: all 300ms;
    border: none;
    width: 250px;
  }

%btn-hover{
    color: #ffffff;
    transform: translateY(10px);
    background-color: #d17502;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.nosotros{
    background-color:$off-background;
    min-height: 400px;
    .nosotros__content{
        .nosotros__box{
            .nosotros__col{
                margin-top: $space-section;
               
                    img{
                        width: 1000px;
                        max-width: 100%;
                        
                    }
                

                
                    h1{
                        color: white;
                        font-weight: 600;
                        font-family:$tipografia-secundario;
                        font-style: italic;
                        text-align: left;           
                        font-size:4rem;
                        padding: 0 40px;
                    
                        
                        span{
                            color: $just-orange;
                        }
                    }

                    p{
                        color: white;
                        font-weight: 300;
                        text-align: justify;
                        margin-top: 10px;
                        font-family:$tipografia-secundario;
                        font-size:2rem;
                        padding: 0 40px;
                    }

                    .nosotros--btn{
                        margin: 0 auto;
                        margin-top: $space-parrafo;
                        @extend %btn;
                        &:hover{
                        @extend %btn-hover;
                        }
                    }
                
            }
        }
    }
}

// CARDS TEAM
.cards_principal_container{
   background-color:$off-background;
    min-height: 900px;
.cards__team{ 
    .team__title{
        .team--h1{
            color: white;
            font-weight: 600;
            font-family:$tipografia-secundario;
            font-style: italic;
            text-align: center;
            margin-top: 100px;
            font-size:4rem;

            span{
                    color: $just-orange;}
            }
        .team--p{
            color: white;
            font-weight: 300;
            text-align: justify;
            margin-top: 30px;
            font-family:$tipografia-secundario;
            font-size:2rem;}
    }
}

.team{
    .team__principal{
        text-align: center;
        .team__secundario{
          
            .team__secundario--img{
                width: 300px;
                margin-top: 40px;
               
            }

            .team__secundario--h3{
                color: white;
                font-weight: 600;
                font-family:$tipografia-secundario;
                font-style: italic;
                text-align: center;
                font-size:3rem;
                margin-top: 30px;
            }

            .team__secundario--h4{
                color:$just-orange;
                font-weight: 600;
                font-family:$tipografia-secundario;
                margin-top: 15px;
                font-style: italic;
                text-align: center;
                font-size:2rem;
            }

            .team__secundario--p{
                color: white;
                font-weight: 300;
                font-family:$tipografia-secundario;
                font-style: italic;
                text-align: justify;
                font-size:1.6rem;
                margin-top: 10px;
            }
        }
    }
}
}

//TESTIMONIOS

.testimonios{
    background-color:$off-background;
    min-height: 400px;
    .comentarios__titulo{
        h2{
            font-weight: 700;
            font-size: $fuente-titulo;
            margin-top: $space-section;
            text-align: center;
            color: white;
            font-family: 'Roboto', sans-serif;
            
            span{
                color: $just-orange;
                font-size: 4rem;
                font-family:$tipografia-secundario;
                font-weight: 500;
                text-align: center;
            }
        }

    }

    .content--slide{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 70px;
            img{
            width: 200px;
        }

        .content--slides{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 50%;

            h3{
                font-weight: 400;
                font-size: 2rem;
                color: white;
                margin-top: 15px;
                font-family:$tipografia-secundario;
            }

            p{
                font-weight: 300;
                font-size: 1.5rem;
                color: $just-white;
                margin-top: 10px;
                font-family:$tipografia-secundario;
                text-align: center;
            }
        }
    }
    
}
//TITULO NOSOTROS
@media(min-width: 768px) and (max-width: 991px){
    .nosotros{
        .nosotros__content{
            .nosotros__box{        
                .nosotros__col{
                    
                    margin-top: $space-section;
                    
                    .nosotros--titulo{
                     
                        h1{
                            color:white;
                            font-weight: 600;
                            font-family:$tipografia-secundario;
                            font-style: italic;
                            text-align: center;           
                            font-size:4rem;
                        }
    
                        p{
                            color: white;
                            font-weight: 300;
                            text-align: justify;
                            margin-top: 10px;
                            font-family:$tipografia-secundario;
                            font-size:2rem;
                            margin-top: 24px;
                        }
    
                        .nosotros--btn{
                           margin: 24px auto;
                            
                            }
                        }
                    }
                }
            }
        }

        //TITULO TEAM
        .cards_principal_container{
            .cards__content{
                .cards__team{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .team__title{
                        h2{
                            font-size: 3.5rem;
                            text-align: center;
                        }
 
                        p{
                            text-align: justify;
                        }
                    }
                }
            } 
         }
    } 

    @media(min-width: 576px) and (max-width: 767px){
        .nosotros{
            .nosotros__content{
                .nosotros__box{        
                    .nosotros__col{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        margin-top: $space-section;
                        
                        .nosotros--titulo{
                         
                            h1{
                                color:white;
                                font-weight: 600;
                                font-family:$tipografia-secundario;
                                font-style: italic;
                                text-align: center;           
                                font-size:4rem;
                            }
        
                            p{
                                color: white;
                                font-weight: 300;
                                text-align: justify;
                                margin-top: 10px;
                                font-family:$tipografia-secundario;
                                font-size:2rem;
                                margin-top: 24px;
                            }
        
                            .nosotros--btn{
                               margin: 24px auto;
                                
                                }
                            }
                        }
                    }
                }
            }

            //TITULO EQUIPO
            .cards_principal_container{
                .cards__content{
                    .cards__team{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .team__title{
                            h2{
                                font-size: 3.5rem;
                                text-align: center;
                            }
     
                            p{
                                text-align: justify;
                            }
                        }
                    }
                } 
             }
        
    } 

        @media(max-width: 575px){
            .nosotros{
                .nosotros__content{
                    .nosotros__box{        
                        .nosotros__col{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            margin-top: $space-section; 
                                h1{
                                    color:white;
                                    font-weight: 600;
                                    font-family:$tipografia-secundario;
                                    font-style: italic;
                                    text-align: center;           
                                    font-size:3.5rem;
                                }
            
                                p{
                                    color: white;
                                    font-weight: 300;
                                    text-align: justify;
                                    margin-top: 10px;
                                    font-family:$tipografia-secundario;
                                    font-size:1.8rem;
                                    margin-top: 24px;
                                }
            
                                .nosotros--btn{
                                   margin: 24px auto;
                                    
                                    }
                                
                            }
                        }
                    }
                }

                //TITULO TEAM
        .cards_principal_container{
            .cards__content{
                .cards__team{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .team__title{
                        margin-top: -60px;
                        width: 80%;
                        h2{
                            font-size: 3.5rem;
                            text-align: center;
                        }
 
                        p{
                            text-align: justify;
                            font-size: 1.8rem;
                        }
                    }
                }
            }
            
            //CARDS-TEAM

        .team{
            .team__principal{
                .team__secundario{
                    width: 80%;

                    .team__secundario--img{
                        width: 250px;
                    }
                }
            }
        } 
     }
     
     .testimonios{
         .comentarios__titulo{
             h2{
                 font-size: 3.5rem;

                 span{
                    font-size: 3.5rem;
                 }
             }
         }

         .content--slide{
             
            .content--slides{           
                width: 70%;        
            }
        }
     }

     
} 