//VARIABLES 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;   
    font-family: 'Roboto', sans-serif; 
}

html{
    font-family: 'Montserrat', sans-serif;  
    font-size: 62.5%;
    max-width: 100%;}

$just-white: #fff;
$just-blue: #002858;
$just-orange:#d17502;
$off-orange: #db9600;
$off-background: #01010f;
$tipografia-principal: 'Montserrat', sans-serif; 
$tipografia-secundario:'Roboto', sans-serif; 
$fuente-titulo:4rem;
$fuente-parrafo:2rem;
$space-section:70px;
$space-parrafo:30px;


%btn{
    display: block;
    text-decoration: none;
    background:#002858;
    top: 10px;
    padding: 15px 15px;
    text-align: center;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    transition: all 300ms;
    border: none;
    width: 250px;
  }

%btn-hover{
    color: #ffffff;
    transform: translateY(10px);
    background-color: #d17502;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.services{
        background:url("../img/slide-1.jpg");
        background-size:cover;
        min-height:800px;
        background-size: 100% 100%;	
        position: relative;
        z-index: -1;
        margin-top: -5px;
        background-position: center;
        background-repeat: no-repeat;
    .services__content{
        .services__box{
            .services__col{
                margin-top: 150px;
                background-color: $just-blue;
                min-height: 300px;
                padding: 30px 40px;
                max-width: 100%;
                width: 80%;
                
                h1{
                    color:$just-white;
                    font-weight: 600;
                    font-family:$tipografia-principal;
                    text-align: center;
                    font-size:$fuente-titulo;
                    }
                .content--linea{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .servicios--rectangulo{
                        width: 500px;
                        height: 8px;
                        
                        }
                    }
                
                p{
                    color:$just-white;
                    font-weight: 300;
                    font-family:$tipografia-secundario;
                    font-style: italic;
                    text-align: justify;
                    font-size:$fuente-parrafo;
                    margin-top: $space-parrafo
                }
        }
    }

}

.content__sociales{
    .sociales__box{   
        .sociales__col{
            margin-top: $space-parrafo;
            display: flex;
            justify-content: center;
            align-items: center;
            .icon{
                width: 30px;
                margin: 0 5px; 
            }
        }
    }
}

.btn__content{
    .btn__box{
        .btn__col{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: $space-parrafo;
            .servicios--boton{
                @extend %btn;
                    &:hover{
                    @extend %btn-hover;
                }
            }
        }
    }
}

}

// ITEMS-SERVICIOS

.items-servicios{
    background-color: $off-background;
    min-height: 1700px;
    .items__content{
        .items__box{
            .items__col{
                margin-top: $space-section;
                .titulo--icon{
                    display: flex;
                    justify-content: start;
                    align-items: left;

                    i{
                         color: $just-orange;
                         font-size: 4rem;
                         padding: 0 20px}

                    h2{
                        color: white;
                        font-size: $fuente-titulo;
                        font-weight: 600;
                        font-family: $tipografia-principal;}
                }

                .titulo--parrafo{
                    padding: 0 90px;
                    p{
                        color: white;
                        font-size: $fuente-parrafo;
                        font-weight: 400;
                        text-align: justify;
                        font-style: italic;
                        font-family: $tipografia-secundario;
                        margin-top: 5px;}
                }

                .img--developer{
                    max-width: 100%;
                    width: 640px;
                    -webkit-transition: all .3s ease;
                    -o-transition: all .3s ease;
                    transition: all .3s ease;

                    &:hover{
                       transform: translate(-38px, -38px) rotateY(-18deg) rotateX(18deg);
                    }
                }
            }
            
        }
    }
}

// RESPONSIVE-DESIGN

.responsive__content{
    .responsive__box{
        .responsive__col{
            margin-top: $space-section;
            padding: 0 30px;
            .img--responsive{
                max-width: 100%;
                width: 640px;
                -webkit-transition: all .3s ease;
                -o-transition: all .3s ease;
                transition: all .3s ease;
                    
                    &:hover{
                       transform: translate(-38px, -38px) rotateY(18deg) rotateX(-18deg);
                    }
            }
            .titulo__icon--responsive{
                display: flex;
                justify-content: start;
                align-items: center;
                h2{
                    color: white;
                    font-size: $fuente-titulo;
                    font-weight: 600;
                    font-family: $tipografia-principal;
                }
                
                i{
                    color: $just-orange;
                    font-size: 4rem;
                    padding: 0 20px
                }  
            }

            .titulo__parrafo--responsive{
                padding: 0 10px;
                margin-left: 65px;
                p{
                    color: white;
                    font-size: $fuente-parrafo;
                    font-weight: 400;
                    text-align: justify;
                    font-style: italic;
                    font-family: $tipografia-secundario;
                    margin-top: 5px;
                    
                }
            }
            
        }
    }

}

@media screen and (max-width:767px){
    .services{
        
        min-height:800px;
        
    .services__content{
        .services__box{
            .services__col{
                width: 90%;
                margin-top: 100px;
                min-height: 300px;
                padding: 30px 40px;
                max-width: 100%;
               
                
                h1{
                    color:$just-white;
                    font-weight: 600;
                    font-family:$tipografia-principal;
                    text-align: center;
                    font-size:3.5rem;
                    }
                .content--linea{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .servicios--rectangulo{
                        width: 500px;
                        height: 7px;
                        
                        }
                    }
                
                p{
                    color:$just-white;
                    font-weight: 300;
                    font-family:$tipografia-secundario;
                    font-style: italic;
                    text-align: justify;
                    font-size:1.8rem;
                    margin-top: $space-parrafo
                }
        }
    }

}

}
}

@media screen and (max-width:480px){
    .services{
        
        min-height:750px;
        
    .services__content{
        .services__box{
            .services__col{
                
                background-color: $just-blue;
                min-height: 50px;
                padding: 10px 15px;
                max-width: 100%;
                width: 90%;
                
                h1{

                    font-size:3rem;
                    }
                .content--linea{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .servicios--rectangulo{
                        width: 500px;
                        height: 7px;
                        max-width: 100%;
                        }
                    }
                
                p{
                    font-size:1.7rem;
                    margin-top: $space-parrafo
                }
        }
    }

}

}
}

@media screen and (max-width:392px){
    .services{
        
        min-height:930px;
    .services__content{
        .services__box{
            .services__col{
                
                width: 90%;
                
                h1{
                    font-size:3rem;
                    }
                .content--linea{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .servicios--rectangulo{
                        width: 500px;
                        height: 7px;
                        max-width: 100%;
                        }
                    }
                
                p{
                    
                    font-size:1.7rem;
                    margin-top: $space-parrafo
                }
        }
    }

}

}
}







@media(min-width: 768px) and (max-width: 991px){
    //titulo

    .services{
        
        min-height:800px;
        
    .services__content{
        .services__box{
            .services__col{
                
                margin-top: 100px;
                min-height: 300px;
                padding: 30px 40px;
                max-width: 100%;
                
                
                h1{
                    color:$just-white;
                    font-weight: 600;
                    font-family:$tipografia-principal;
                    text-align: center;
                    font-size:3.5rem;
                    }
                .content--linea{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .servicios--rectangulo{
                        width: 500px;
                        height: 7px;
                        
                        }
                    }
                
                p{
                    color:$just-white;
                    font-weight: 300;
                    font-family:$tipografia-secundario;
                    font-style: italic;
                    text-align: justify;
                    font-size:1.8rem;
                    margin-top: $space-parrafo
                }
        }
    }

}

}
    //items desarrollo web
    .items-servicios{
        .items__content{
            .items__box{
                .items__col{
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;
                    
                    .titulo--icon{
                        display: initial;
                        padding: 0 90px;
                        i{
                             color: $just-orange;
                             font-size: 4rem;
                             margin-left: -20px;
                             
                             }
    
                        h2{
                            color: white;
                            font-size: $fuente-titulo;
                            font-weight: 600;
                            margin-top: 20px;
                            font-family: $tipografia-principal;}
                    }
    
                    .titulo--parrafo{
                        padding: 0 90px;
                        p{
                            
                            margin-top: 5px;
                            text-align: justify;
                        }
                    }
    
                    .img--developer{
                        
                        width: 850px;
                        padding: 0 90px;
                        margin-top: -30px;       
                    }
                }
                
            }
        }
    }

    //items responsive design
    .responsive__content{
        .responsive__box{
            flex-direction: column-reverse;
            .responsive__col{
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                padding: 0 30px;
                .img--responsive{
                    padding: 0 70px;
                    width: 800px;
                    margin-top: -30px;     
                }
                .titulo__icon--responsive{
                    display: initial;
                    padding: 0 70px;
                    

                    h2{
                       margin-top:20px ; 
                    }
                    
                    i{
                        
                        font-size: 4.5rem;
                        margin-left: -20px;
                    }  
                }
    
                .titulo__parrafo--responsive{
                    padding: 0 80px;
                    margin-left: -10px;
                    p{
                        margin-top: 5px;
                        text-align: justify;
                    }
                }
                
            }
        }
    
    }

}

@media(min-width: 576px) and (max-width: 767px){
    //items desarrollo web
    .items-servicios{
        .items__content{
            .items__box{
                .items__col{
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;
                    margin-top: $space-section;
                    .titulo--icon{
                        display: initial;
                        padding: 0 60px;
                        i{
                            
                             font-size: 3rem;
                             margin-left: -20px;
                             
                             }
    
                        h2{
                            color: white;
                            font-size: 3rem;
                            font-weight: 600;
                            margin-top: 20px;
                            font-family: $tipografia-principal;}
                    }
    
                    .titulo--parrafo{
                        padding: 0 60px;
                        p{
                            font-size: 1.8rem;
                            margin-top: 5px;
                            text-align: justify;
                        }
                    }
    
                    .img--developer{
                        
                        width: 800px;
                        padding: 0 60px;
                        margin-top: -30px;
                       
                    }
                }
                
            }
        }
    }

//items responsive design
.responsive__content{
    .responsive__box{
        flex-direction: column-reverse;
        .responsive__col{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            padding: 0 30px;
            .img--responsive{
                padding: 0 40px;
                width: 800px;
                margin-top: -30px;     
            }
            .titulo__icon--responsive{
                display: initial;
                padding: 0 40px;

                h2{
                   margin-top:20px ; 
                   font-size: 3rem;
                }
                
                i{
                    
                    font-size: 4rem;
                    margin-left: -20px;
                }  
            }

            .titulo__parrafo--responsive{
                padding: 0 40px;
                margin-left: -4px;
                p{
                    margin-top: 5px;
                    text-align: justify;
                    font-size: 1.8rem;
                }
            }
            
        }
    }

}
}


@media (max-width: 575px){
    
    .items-servicios{
        .items__content{
            .items__box{
                .items__col{
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;
                    margin-top: $space-section;
                    .titulo--icon{
                        display: initial;
                        padding: 0 30px;
                        i{
                            
                             font-size: 3rem;
                             margin-left: -20px;
                             
                             }
    
                        h2{
                            
                            font-size: 3rem; 
                            margin-top: 20px;
                            }
                    }
    
                    .titulo--parrafo{
                        padding: 0 30px;
                        p{
                            font-size: 1.7rem;
                            margin-top: 5px;
                            text-align: justify;
                        }
                    }
    
                    .img--developer{
                        width: 800px;
                        padding: 0 30px;
                        margin-top: -30px;
                       
                    }
                }
                
            }
        }
    }

//items responsive design
.responsive__content{
    .responsive__box{
        flex-direction: column-reverse;
        .responsive__col{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            padding: 0 20px;
            .img--responsive{
                padding: 0 20px;
                width: 800px;
                margin-top: -30px;     
            }
            .titulo__icon--responsive{
                display: initial;
                padding: 0 20px;

                h2{
                   margin-top:20px ; 
                   font-size: 3rem;
                }
                
                i{
                    
                    font-size: 4rem;
                    margin-left: -20px;
                }  
            }

            .titulo__parrafo--responsive{
                padding: 0 20px;
                margin-left: -4px;
                p{
                    margin-top: 5px;
                    text-align: justify;
                    font-size: 1.7rem;
                }
            }
            
        }
    }

}
}



// @media(min-width: 576px) and (max-width: 767px){
//     .servicios{      
//         .servicios__content{
//            .servicios__box{
//                .servicios__col{
//                     .background-content{
                        
//                         h1{
                            
//                             font-size:3.5rem;
//                         }
    
//                         .servicios--rectangulo{
//                             width: 450px;
//                             height: 6px;
//                         }
    
//                         p{   
//                             font-size:1.8rem;
//                         }
//                     }
    
//                }
                     
//            } 
//         }
//     }
    
// }

// @media(max-width: 575px){
//     .servicios{ 
//     height: 900px;     
//     .servicios__content{
        
//     .servicios__box{
//     .servicios__col{
        
//     .background-content{
//    width: 90%;
//    min-height: 50px;
//      h1{                  
//      font-size:3rem;
//      }
    
//     .servicios--rectangulo{
//     width: 300px;
//      max-width: 100%;
//     height: 6px;
//     }
    
//     p{   
//     font-size:1.8rem;
//     }
//     }
    
//     }
                     
//     } 
//      }
//      }
// }

// @media(max-width: 575px){
//     .servicios{ 
//     min-height: 800px;     
//     .servicios__content{
        
//     .servicios__box{
//     .servicios__col{
        
//     .background-content{
//         width: 90%;
//         min-height: 50px;
//      h1{                  
//      font-size:3rem;
//      }
    
//     .servicios--rectangulo{
//     width: 300px;
//      max-width: 100%;
//     height: 6px;
//     }
    
//     p{   
//     font-size:1.7rem;
//     }
//     }
    
//     }
                     
//     } 
//      }
//      }
// }


