//VARIABLES 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;   
    font-family: 'Roboto', sans-serif; 
}

html{
    font-family: 'Montserrat', sans-serif;  
    font-size: 62.5%;
    max-width: 100%;}

$just-white: #fff;
$just-blue: #002858;
$just-orange:#d17502;
$off-orange: #db9600;
$off-background: #01010f;
$tipografia-principal: 'Montserrat', sans-serif; 
$tipografia-secundario:'Roboto', sans-serif; 
$fuente-titulo:4rem;
$fuente-parrafo:2rem;
$space-section:70px;
$space-parrafo:30px;


%btn{
    display: block;
    text-decoration: none;
    background:#002858;
    top: 10px;
    padding: 15px 15px;
    text-align: center;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    transition: all 300ms;
    border: none;
    width: 250px;
  }

%btn-hover{
    color: #ffffff;
    transform: translateY(10px);
    background-color: #d17502;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}



.servicios{
    background:url("../img/slide-3.jpg");
    background-size:cover;
    min-height:800px;
    background-size: 100% 100%;	
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    .servicios__content{
        .servicios__box{
            .servicios__col{
                margin-top: 150px;
                .logo-servicios{
                   margin-top: 450px;
                }
             
                .background-content{
                    background:url("../img/fondo-servicios.png");
                    width: 600px;
                    min-height: 400px;
                    padding: 20px 30px;
                    max-width: 100%;
                    
                    h1{
                        color:$just-white;
                        font-weight: 600;
                        font-family:$tipografia-principal;
                        text-align: left;
                        font-size:$fuente-titulo;
                    }
                   .servicios--rectangulo{
                       width: 400px;
                       max-width: 100%;
                       height: 8px;
                   }
        
                   p{
                        color:$just-white;
                        font-weight: 300;
                        font-family:$tipografia-secundario;
                        font-style: italic;
                        text-align: left;
                        font-size:$fuente-parrafo;
                   }
                }
                .servicios__sociales{
                    display: flex;
                    justify-content: right;
                    align-items: center;
                    text-align: center;
                    
                   
                    .servicios__icons{
                        margin-top: $space-parrafo;
                        
                .social-icon{
                    width: 40px;
                    padding: 0 5px;

                    &:hover{
                        -webkit-transform: scale(1.3);
                        -ms-transform: scale(1.3);
                        transform: scale(1.3);
                        transition: all .5s;
                    }
                    }
        
                .servicios__boton--primary{
                    @extend %btn;
                    margin-top: $space-parrafo;
                        
                    &:hover{
                        @extend %btn-hover;
                         }
                     }

                    }
                }
            }              
        }   
    }
}

// ITEMS-SERVICIOS

.items-servicios{
    background-color: $off-background;
    min-height: 1700px;
    .items__content{
        .items__box{
            .items__col{
                margin-top: $space-section;
                .titulo--icon{
                    display: flex;
                    justify-content: start;
                    align-items: left;

                    i{
                         color: $just-orange;
                         font-size: 4rem;
                         padding: 0 20px}

                    h2{
                        color: white;
                        font-size: $fuente-titulo;
                        font-weight: 600;
                        font-family: $tipografia-principal;}
                }

                .titulo--parrafo{
                    padding: 0 90px;
                    p{
                        color: white;
                        font-size: $fuente-parrafo;
                        font-weight: 400;
                        font-style: italic;
                        font-family: $tipografia-secundario;
                        margin-top: 5px;}
                }

                .img--developer{
                    max-width: 100%;
                    width: 640px;
                    -webkit-transition: all .3s ease;
                    -o-transition: all .3s ease;
                    transition: all .3s ease;

                    &:hover{
                       transform: translate(-38px, -38px) rotateY(-18deg) rotateX(18deg);
                    }
                }
            }
            
        }
    }
}

// RESPONSIVE-DESIGN

.responsive__content{
    .responsive__box{
        .responsive__col{
            margin-top: $space-section;
            padding: 0 30px;
            .img--responsive{
                max-width: 100%;
                width: 640px;
                -webkit-transition: all .3s ease;
                -o-transition: all .3s ease;
                transition: all .3s ease;
                    
                    &:hover{
                       transform: translate(-38px, -38px) rotateY(18deg) rotateX(-18deg);
                    }
            }
            .titulo__icon--responsive{
                display: flex;
                justify-content: start;
                align-items: center;
                h2{
                    color: white;
                    font-size: $fuente-titulo;
                    font-weight: 600;
                    font-family: $tipografia-principal;
                }
                
                i{
                    color: $just-orange;
                    font-size: 4rem;
                    padding: 0 20px
                }  
            }

            .titulo__parrafo--responsive{
                padding: 0 65px;
                p{
                    color: white;
                    font-size: $fuente-parrafo;
                    font-weight: 400;
                    font-style: italic;
                    font-family: $tipografia-secundario;
                    margin-top: 5px;
                }
            }
            
        }
    }
}













// .items-servicios{
//     background-color: $off-background;
//     min-height: 2000px;
//     .items__content{
//         .items__box{
//                 .items__col{
//                     margin-top: $space-section;
                    
//                     .items__col--img{
//                         max-width: 100%;
//                         width: 700px;
                        
//                         -webkit-transition: all .3s ease;
//                         -o-transition: all .3s ease;
//                         transition: all .3s ease;
                        
//                         &:hover{
//                             transform: translate(-10px, -10px) rotateY(-18deg) rotateX(18deg);                 
//                         }
//                     }
//                     .titulo--icon{   
                        
//                         .fa-laptop-code{
//                         color: $just-orange;
//                         font-size: 4rem;
//                        padding: 0 20px;
                       
                       
//                         }

//                         h2{
//                             color: white;
//                             font-size: $fuente-titulo;
//                             font-weight: 600;
//                             font-family: $tipografia-principal;       
//                         }

//                         }

//                     .titulo--parrafo-responsive{
//                         p{
//                             color: white;
//                             font-size: $fuente-parrafo;
//                             font-weight: 400;
//                             font-style: italic;
//                             font-family: $tipografia-secundario;
//                             margin-top: 5px;
                            
//                         }
//                     }             
//             }     

//         }
        
//     }

    

// }

